html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('imagens/tela_fundo.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.Barra_Lateral{
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.08); /* leve transparência */
    backdrop-filter: blur(8px); /* dá um efeito de vidro */
    box-shadow: 8px 0 25px rgba(0, 0, 0, 0.5); /* sombra lateral */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
}

.Primeira_opcao{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Primeira_opcao button {
    margin-top: 10px;
    border: none;
    background: none; 
    color: rgb(10, 10, 10); 
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: left; /* alinha o texto à esquerda, se quiser */
}

.Primeira_opcao button:hover {
    color: #575454; /* muda a cor do texto no hover */
}

.Segunda_opcao{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Segunda_opcao button {
    margin-top: 10px;
    border: none;
    background: none; 
    color: rgb(10, 10, 10); 
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: left; /* alinha o texto à esquerda, se quiser */
}

.Segunda_opcao button:hover {
    color: #575454; /* muda a cor do texto no hover */
}

.Sair {
    width: 100px;
    background-color: #ff1c23;
    border: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-start;  
    margin-bottom: 50px;
}

.Sair:hover {
    background-color: #e50914;
}

.Tela_Principal{
    display: flex;
    flex-direction: column;
    width: calc(200vw - 250px); 
    align-items: center;
    padding: 20px;
}

.Barra_Pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-radius: 25px;
    padding: 5px 10px;
    width: 400px;
}

.Barra_Pesquisa input{
    flex: 1;
    background: none;
    border: none;
    color: aliceblue;
    outline: none;
}

.Lupa{
    background: none;
    border: none;
    color: aliceblue
}


.filme_destaque{
    margin-top: 30px;
}

.card-img{
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(107, 97, 97, 0.2);
    width: 800px;
    height: 300px;
}